.QueryResult {
  display: flex;
  flex-direction: column;
  background: #EEE;
  border-left: 1px solid #DDD;
  position: relative;
  overflow: auto;
}

.QueryResult .loadingIndicator {
  width: 10rem;
  height: 10rem;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -6rem 0 0 -5rem;
}

.QueryResult .tab-content {
  flex-grow: 1;
}

.QueryResult .CodeMirror {
  height: auto;
  background: #EEE;
}

.QueryResult .nav {
  font-size: 1.2rem;
  margin-top: 2rem;
}

.QueryResult .nav a[role=button] {
  padding: 0.7rem 1rem;
}
