.QueryEditor {
  overflow: auto;
}

.QueryEditor .editor {
  position: relative;
}

.QueryEditor .runButton {
  position: absolute;
  top: -0.3rem;
  right: 0;
  z-index: 1000;
}

.QueryEditor .CodeMirror {
  height: auto;
  padding-bottom: 4rem;
  border-bottom: 1px solid #CCC;
  margin-bottom: 4rem;
}
